#board {
    padding-top: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
}
body {
    background-color: cornflowerblue;
    
}
/* all 9 game cell */
.row > div {
    float: left;
    height: 100px;
    width: 100px;
    cursor: pointer;
    line-height: 7rem;
    font-size: 5rem;
    text-align: center;
}
/* .row:hover { */
    
/* } */
.row {
    clear: both;
    margin: 0 auto;
    width:  304px;
}
.top {
    border-bottom: 2px solid /* blue solid*/;
}
.right {
    border-left: 2px solid /* red*/;
}
.bottom {
    border-top: 2px solid /* green*/;
}
.left {
    border-right: 2px solid /* orange*/;
}
.winner{
    text-align: center;
}